@media (min-width: 250px) {
  html {
    width: 100vw;
    font-size: 100%;
  }

  .main-theme {
    width: 100vw;
    height: 100vh;
  }
  .container {
    width: 90vw;
    margin: 5vw auto;
    padding: 0;
  }
}
@media (min-width: 800px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }
  .container {
    max-width: 90%;
    margin: 10px auto;
  }
  .main-theme {
    max-width: 500px;
    height: 100vh;
  }
}

body {
  border: 1px solid gray;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  opacity: 80%;
}
h1 {
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  font-size: 40px;
  line-height: 44px;
}
h3:first-letter {
  text-transform: capitalize;
}

/*td: replace h4,p?*/
h4 {
  text-align: center;
}
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-theme {
  position: fixed;
  z-index: -1;
  opacity: 80%;
}

/*.front-layer {
  overflow: hidden;
}

.layer-clouds {
  position: absolute;
  width: 100vw;
  z-index: -1;
  opacity: 100%;
  animation: moveRightToLeftCloud 14s linear infinite running;
}

@keyframes moveRightToLeftCloud {
  0% {
    opacity: 100%;
    transform: translate(500px, 0);
  }
  50% {
    transform: translate(0px, 0);
  }
  100% {
    opacity: 100%;
    transform: translate(-500px, 0);
  }
}

.cloud-2 {
  padding-top: 35px;
  opacity: 0;
  animation-delay: 7s;
} */

.scrolling-wrapper {
  opacity: 60%;
  overflow: auto;
  white-space: nowrap;
  padding-right: 10px;
}

.image-six-chibi {
  display: block;
  width: 100%;
  margin: -30px 0 -30px -20px; /*td: add settings in vw*/
}

.search #button-settings {
  margin-right: 10px;
  font-size: 20px;
  border-radius: 4px;
}

.search #button-location-gps {
  border-radius: 4px 0px 0px 4px;
  font-size: 20px;
}

#placeholderUOM {
  font-size: 30px;
  position: relative;
  top: -45px; /* replace by smth less fixed*/
}

.today-other {
  font-size: 20px;
  line-height: 25px;
  text-align: right;
}

.image-weather-small {
  display: inline-block;
  max-width: 80%;
}

.hourly,
.weekly {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  padding: 0;
  max-width: 16%;
  margin: 1px;
}

.clickables:hover {
  cursor: pointer;
  font-size: larger;
  opacity: 80%;
}

#current-weather-indices {
  background-color: #fff;
  border-radius: 4px;
  opacity: 60%;
  padding: 12px;
}

/* td: change this below to js*/
#placeholderUOM {
  visibility: collapse;
}

.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.collapsed {
  visibility: collapse;
}

.offcanvas-body footer {
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
}
.offcanvas-body footer .image-footer {
  width: 15%;
}
